openapi: 3.1.0
info:
  title: Eridu oEmbed API
  version: 1.0.0
  summary: oEmbed 1.0 provider endpoint for eridu.ai URLs, returning embeddable rich metadata
  description: 'oEmbed 1.0 provider endpoint for eridu.ai URLs, returning embeddable rich metadata — title,
    author, thumbnail and iframe HTML — for any published post or page.


    Eridu publishes no developer program, no developer portal and no product API. This document is an
    API Evangelist derivation of the only machine-readable interface the company serves — the WordPress
    core REST API behind eridu.ai — captured from the provider''s own live self-describing route index
    on 2026-08-12. It is read-only and anonymously readable; write methods exist on the same routes but
    require a WordPress user with an application password.'
  contact:
    name: Eridu
    url: https://eridu.ai/contact/
  termsOfService: https://eridu.ai/terms-of-use/
  x-apievangelist-derived-from: https://eridu.ai/wp-json/
  x-apievangelist-derived-on: '2026-08-12'
servers:
- url: https://eridu.ai/wp-json
  description: Eridu WordPress REST API
tags:
- name: oEmbed
  description: oEmbed 1.0 provider endpoint for eridu.ai URLs, returning embeddable rich metadata — title,
    author, thumbnail and iframe HTML — for any published post or page.
security: []
paths:
  /oembed/1.0/embed:
    get:
      operationId: getOembed
      summary: Get oEmbed metadata
      description: Return oEmbed 1.0 metadata for an eridu.ai URL.
      tags:
      - oEmbed
      security: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oEmbedItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: format
        in: query
        required: false
        description: The format query parameter, as registered by the endpoint.
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        required: false
        description: The maxwidth query parameter, as registered by the endpoint.
        schema:
          type: string
          default: '600'
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
components:
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress application passwords (HTTP Basic: username + application password). Advertised
        by the site''s own API index at https://eridu.ai/wp-json/ under `authentication.application-passwords`.
        Required only for write methods and non-public contexts; every operation in this document is anonymously
        readable.'
  schemas:
    oEmbedItem:
      type: object
      description: A oembed record as returned by the WordPress core REST API. Field-level schemas are
        published by the endpoint itself via the OPTIONS method and the `context=edit` schema; they are
        not restated here so this document never diverges from the live contract.
      additionalProperties: true
    Error:
      type: object
      description: The WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error data, carrying the HTTP status and, for validation failures, per-parameter
            details.
          properties:
            status:
              type: integer
              description: The HTTP status code.
          additionalProperties: true
      required:
      - code
      - message
  responses:
    BadRequest:
      description: Invalid parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication is required for the requested context.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: No record matches the supplied identifier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
